section.about {
    padding: 100px 0;
    background-color: $offWhite;

    .wrapper {

        .aboutFlexContainer {
            display: flex;
            justify-content: space-between;
        }
        
        .aboutPhotoContainer {
            width: calc(35% - 25px);
            margin-left: 25px;
            img {
                border-radius: 8px;
                border: 0.5rem solid $bgColor;
                margin: 0 auto;
            }
        }

        .aboutTextContainer {
            width: calc(65% - 25px);
            margin-right: 25px;
        }
    }

    h2 {
        @include fontStyle($bodyFont, $bgColor, 2rem, 500);
        margin: 20px 0px 30px 0px;
    }

    .introP {
        font-style: italic;
        color: $pink;
        font-weight: 600;
    }

    .strikeThrough {
        text-decoration: line-through;
    }

    p {
        @include fontStyle($bodyFont, $bgColor, 0.9rem, 400, 1.75rem);
        margin: 20px 0;
    }

    a {
        @include buttonStyle();
        display: inline-block;
    }
    a:focus {
        @include buttonFocus($bgColor);
    }
}