section.contact {
    background-color: $offWhite;
    height: 100vh;
    display: flex;
    align-items: center;

    .wrapper {
        text-align: center;
    }

    h2 {
        @include fontStyle($bodyFont, $bgColor, 2rem, 500);
        text-align: center;
        padding-top: 30px;
    }

    form {
        margin: 0 auto;
        padding-bottom: 30px;
    }

    input, textarea {
        padding: 10px;
        @include fontStyle($bodyFont, $bgColor, 0.8rem, 400);
        border-radius: 8px;
        border: 1px solid $bgColor;
        margin: 10px 0px;
        width: 100%;
        max-width: 700px;
        resize: none;
    }

    button {
        @include buttonStyle();
        display: block;
        margin: 20px auto;
    }
}