@media (max-width: 768px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 480px) {
    section.skills {
        .skill {
            width: calc(140px - 40px);
            height: calc(140px - 40px);
        }
        i, svg {
            font-size: 2.5rem;
        }
    }
    section.portfolio .portfolioPiece {
        height: 350px;
    }
}