section.portfolio {
    padding: 100px 0;
    background-color: $offWhite;

    h2 {
        @include fontStyle($bodyFont, $bgColor, 2rem, 500);
        text-align: center;
    }

    .portfolioContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .portfolioPiece {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        height: 400px;
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        .overlay {
            background: rgba(44, 48, 81, 0.9);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out 0s;
        }

        &:hover .overlay,
        &:focus-within .overlay {
            opacity: 1;
        }

        .overlayDetails {
            position: absolute;
            text-align: center;
            top: 20%;
            left: 50%;
            opacity: 0;
            width: 100%;
            padding: 25px;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out 0s;
            h3 {
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            p {
                @include fontStyle($bodyFont, $offWhite, 0.8rem, 400, 1rem);
                margin: 15px 0;
            }
            a {
                @include buttonStyle();
                display: inline-block;
                padding: 10px 20px;
                background-color: $offWhite;
                color: $bgColor;
            }
            a:focus {
                @include buttonFocus($offWhite);
            }
        }

        &:hover .overlayDetails,
        &:focus-within .overlayDetails {
            top: 50%;
            left: 50%;
            opacity: 1;
        }
    }

    .mobilePiece {
        width: calc(500px - 40px);
        padding: 0px 20px;
    }

    .laptopPiece {
        width: calc(600px - 40px);
        padding: 30px 0px;
    }

    .projectTwo {
        background: lighten($yellow, 25);
        h3 {
            @include fontStyle($bodyFont, $yellow, 1rem, 700)
        }
    }

    .projectThree{
        background: lighten($green, 35);
        h3 {
            @include fontStyle($bodyFont, $green, 1rem, 700)
        }
    }

    .projectFour {
        background: lighten($blue, 25);
        h3 {
            @include fontStyle($bodyFont, $turquoise, 1rem, 700)
        }
    }

    .projectFive {
        background: lighten($pink, 25);
        h3 {
            @include fontStyle($bodyFont, $pink, 1rem, 700)
        }
    }
}