section.skills {
    padding: 100px 0;
    background: $lightBgColor;

    h2 {
        @include fontStyle($bodyFont, $offWhite, 2rem, 500);
        margin: 20px 0;
        text-align: center;
        position: relative;
    }

    .skillsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        @include fontStyle($headingFont, $offWhite, 0.8rem);
    }
    .skill {
        width: calc(205px - 30px);
        height: calc(205px - 30px);
        margin: 15px;
        background-color: lighten($lightBgColor, 7);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .fa-html5 {
        color: $turquoise;
    }

    .fa-cogs,
    .devicon-jquery-plain {
        color: $yellow;
    }

    .fa-css3-alt,
    .devicon-sass-original {
        color: $pink;
    }

    .fa-react,
    .devicon-git-plain {
        color: $green;
    }


    .fa-js-square,
    .fa-universal-access {
        color: $blue;
    }

    i, svg {
        font-size: 3.5rem;
        margin-bottom: 15px;
    }
}