section.skills {
    padding: 100px 0;
    background: $bgColor;

    h2 {
        @include fontStyle($bodyFont, $offWhite, 2rem, 500);
        margin: 20px 0;
        text-align: center;
    }

    .skillsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        @include fontStyle($headingFont, $offWhite, 0.8rem);
    }
    .skill {
        width: calc(200px - 40px);
        height: calc(200px - 40px);
        margin: 20px;
        background-color: $lightBgColor;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover,
        &:focus {
            transform: scale(1.05);
            transition: all 0.5s;
        }
    }

    i, svg {
        font-size: 3.5rem;
        margin-bottom: 15px;
    }
}