@import 'setup';
@import 'mixinsVariables';
@import 'globalStyles';
@import 'navigation';
@import 'header';
@import 'about';
@import 'skills';
@import 'portfolio';
@import 'workTogether';
@import 'contact';
@import 'footer';