html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 125%;
  /* 20px */
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

nav.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 8vh;
  position: fixed;
  width: 100vw;
  background-color: #2c3051;
  padding: 40px 0;
  z-index: 10;
}

nav.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.mainNav ul li a {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #f9f9fa;
  line-height: auto;
  padding: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  position: relative;
}

nav.mainNav ul li a:hover::after, nav.mainNav ul li a:focus::after {
  content: '';
  background: #f9f9fa;
  width: 70%;
  height: 3px;
  position: absolute;
  bottom: 5px;
}

nav.mainNav ul i {
  margin-bottom: 8px;
  font-size: 1rem;
}

nav.mainNav ul .fa-home {
  color: #06fff7;
}

nav.mainNav ul .fa-id-card {
  color: #f6d365;
}

nav.mainNav ul .fa-newspaper {
  color: #fa709a;
}

nav.mainNav ul .fa-briefcase {
  color: #43e97b;
}

nav.mainNav ul .fa-envelope {
  color: #6991c7;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #2c3051;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1, header h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 15px;
}

header h1 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #f9f9fa;
  line-height: auto;
  text-transform: uppercase;
}

header h1 .myName {
  color: #43e97b;
}

header h2 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fa709a;
  line-height: auto;
  font-style: italic;
}

.headshotContainer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
}

.headshotContainer img {
  border-radius: 50%;
  border: 0.5rem solid #06fff7;
}

section.about {
  padding: 100px 0;
  background-color: #f9f9fa;
}

section.about .wrapper .aboutFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

section.about .wrapper .aboutPhotoContainer {
  width: calc(350px - 20px);
  margin-left: 20px;
}

section.about .wrapper .aboutPhotoContainer img {
  border-radius: 8px;
  -webkit-box-shadow: 15px 15px 8px #525990;
          box-shadow: 15px 15px 8px #525990;
  margin: 0 auto;
}

section.about .wrapper .aboutTextContainer {
  width: 700px;
}

section.about h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2c3051;
  line-height: auto;
  margin: 20px 0;
}

section.about .introP {
  font-style: italic;
  color: #fa709a;
  font-weight: 600;
}

section.about .strikeThrough {
  text-decoration: line-through;
}

section.about p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #2c3051;
  line-height: 1.75rem;
  margin: 20px 0;
}

section.about a {
  font-size: 0.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f9f9fa;
  line-height: auto;
  background-color: #363b5f;
  padding: 20px 40px;
  text-transform: uppercase;
  border-radius: 1.5rem;
  border: 1px solid #363b5f;
  cursor: pointer;
  margin: 30px 0;
  color: #f9f9fa;
  display: inline-block;
}

section.about a:focus {
  outline: 1px dotted #2c3051;
}

section.skills {
  padding: 100px 0;
  background: #363b5f;
}

section.skills h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #f9f9fa;
  line-height: auto;
  margin: 20px 0;
  text-align: center;
  position: relative;
}

section.skills .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f9f9fa;
  line-height: auto;
}

section.skills .skill {
  width: calc(200px - 40px);
  height: calc(200px - 40px);
  margin: 20px;
  background-color: #434976;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.skills .skill:hover, section.skills .skill:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section.skills .fa-html5 {
  color: #06fff7;
}

section.skills .fa-cogs,
section.skills .devicon-jquery-plain {
  color: #f6d365;
}

section.skills .fa-css3-alt,
section.skills .devicon-sass-original {
  color: #fa709a;
}

section.skills .fa-react,
section.skills .devicon-git-plain {
  color: #43e97b;
}

section.skills .fa-js-square,
section.skills .fa-universal-access {
  color: #6991c7;
}

section.skills i, section.skills svg {
  font-size: 3.5rem;
  margin-bottom: 15px;
}

section.portfolio {
  padding: 100px 0;
  background-color: #f9f9fa;
}

section.portfolio h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2c3051;
  line-height: auto;
  text-align: center;
}

section.portfolio .portfolioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.portfolio .portfolioPiece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  height: 400px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

section.portfolio .portfolioPiece .overlay {
  background: rgba(44, 48, 81, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

section.portfolio .portfolioPiece:hover .overlay,
section.portfolio .portfolioPiece:focus-within .overlay {
  opacity: 1;
}

section.portfolio .portfolioPiece .overlayDetails {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 50%;
  opacity: 0;
  width: 100%;
  padding: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

section.portfolio .portfolioPiece .overlayDetails h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

section.portfolio .portfolioPiece .overlayDetails p {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #f9f9fa;
  line-height: 1rem;
  margin: 15px 0;
}

section.portfolio .portfolioPiece .overlayDetails a {
  font-size: 0.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f9f9fa;
  line-height: auto;
  background-color: #363b5f;
  padding: 20px 40px;
  text-transform: uppercase;
  border-radius: 1.5rem;
  border: 1px solid #363b5f;
  cursor: pointer;
  margin: 30px 0;
  color: #f9f9fa;
  display: inline-block;
  padding: 10px 20px;
  background-color: #f9f9fa;
  color: #2c3051;
}

section.portfolio .portfolioPiece .overlayDetails a:focus {
  outline: 1px dotted #f9f9fa;
}

section.portfolio .portfolioPiece:hover .overlayDetails,
section.portfolio .portfolioPiece:focus-within .overlayDetails {
  top: 50%;
  left: 50%;
  opacity: 1;
}

section.portfolio .mobilePiece {
  width: calc(500px - 40px);
  padding: 0px 20px;
}

section.portfolio .laptopPiece {
  width: calc(600px - 40px);
  padding: 30px 0px;
}

section.portfolio .projectTwo {
  background: #fdf5dd;
}

section.portfolio .projectTwo h3 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #f6d365;
  line-height: auto;
}

section.portfolio .projectThree {
  background: #e3fceb;
}

section.portfolio .projectThree h3 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #43e97b;
  line-height: auto;
}

section.portfolio .projectFour {
  background: #c6d5ea;
}

section.portfolio .projectFour h3 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #06fff7;
  line-height: auto;
}

section.portfolio .projectFive {
  background: #feebf1;
}

section.portfolio .projectFive h3 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fa709a;
  line-height: auto;
}

section.workTogether {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#000), to(rgba(44, 48, 81, 0.68))), url(../assets/cowomen-7Zy2KV76Mts-unsplash.jpg);
  background-image: linear-gradient(to bottom left, #000, rgba(44, 48, 81, 0.68)), url(../assets/cowomen-7Zy2KV76Mts-unsplash.jpg);
  /* Photo by @cowomen from unsplash.com */
  height: 60vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.workTogether .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.workTogether h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #f9f9fa;
  line-height: auto;
}

section.contact {
  background-color: #f9f9fa;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .wrapper {
  text-align: center;
}

section.contact h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2c3051;
  line-height: auto;
  text-align: center;
  margin-bottom: 20px;
}

section.contact form {
  margin: 0 auto;
}

section.contact input, section.contact textarea {
  padding: 10px;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #2c3051;
  line-height: auto;
  border-radius: 8px;
  border: 1px solid #2c3051;
  margin: 10px;
}

section.contact input, section.contact textarea {
  width: 100%;
  max-width: 700px;
  resize: none;
}

section.contact button {
  font-size: 0.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f9f9fa;
  line-height: auto;
  background-color: #363b5f;
  padding: 20px 40px;
  text-transform: uppercase;
  border-radius: 1.5rem;
  border: 1px solid #363b5f;
  cursor: pointer;
  margin: 30px 0;
  color: #f9f9fa;
  display: block;
  margin: 20px auto;
}

footer {
  background-color: #2c3051;
  padding: 50px 0;
}

footer .wrapper {
  text-align: center;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav ul li {
  margin: 0px 8px;
}

footer nav ul li a:focus {
  outline: 1px dotted #f9f9fa;
}

footer nav ul li:nth-child(1) a {
  color: #06fff7;
}

footer nav ul li:nth-child(2) a {
  color: #f6d365;
}

footer nav ul li:nth-child(3) a {
  color: #fa709a;
}

footer i {
  margin: 10px;
  font-size: 1.5rem;
}

footer p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #f9f9fa;
  line-height: auto;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 480px) {
  section.skills .skill {
    width: calc(140px - 40px);
    height: calc(140px - 40px);
  }
  section.skills i, section.skills svg {
    font-size: 2.5rem;
  }
  section.portfolio .portfolioPiece {
    height: 350px;
  }
}

.thankYouPage header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thankYouPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.thankYouPage p {
  color: #fa709a;
  margin: 15px 0px;
  font-style: italic;
}

.thankYouPage a {
  font-size: 0.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f9f9fa;
  line-height: auto;
  background-color: #363b5f;
  padding: 20px 40px;
  text-transform: uppercase;
  border-radius: 1.5rem;
  border: 1px solid #363b5f;
  cursor: pointer;
  margin: 30px 0;
  color: #f9f9fa;
}
